.footLogo {
  width: 23%;
  background: #fff;
  margin: 12px;
  padding: 15px;
  border-radius: 25%;
  float: left;
}
.socialClass {
  width: 20%;
  border-radius: 50%;
}
.footLinks {
  width: 17%;
  color: #fff;
  margin: 10px;
  height: 225px;
  float: left;
  text-align: left;
}
.listClass {
  text-align: left;
  list-style: none;
  margin: 8px;
}
.imagesClass img {
  width: 100%;
  border-radius: 50%;
}
