<section
  id="about"
  class="secondary-color text-center scrollto clearfix"
  style="background: #000"
>
  <div class="row clearfix">
    <div class="footLogo">
      <!--Logo that is shown on the banner-->
      <img src="assets/images/mylogo.png" id="banner-logo" alt="Landing Page" />
      <!--End of Banner Logo-->

      <!--The Logo that is shown on the sticky Navigation Bar-->
      <img
        src="assets/images/mylogo.png"
        id="navigation-logo"
        alt="Landing Page"
      />
      <!--End of Navigation Logo-->
    </div>

    <div class="col-2-3" style="font-size: 12px;">
      <!--Icon Block-->
      <div class="icon-block icon-top wow footLinks" data-wow-delay="0.1s">
        <span><b>ABOUT US</b></span
        ><br />
        <ul class="listClass">
          <li>
            About Us
          </li>
          <li>
            Our Vision
          </li>
          <li>
            Awards
          </li>
          <li>
            FAQs
          </li>
          <li>
            Photo Gallery
          </li>
          <li>
            Events
          </li>
        </ul>
      </div>
      <!--End of Icon Block-->

      <!--Icon Block-->
      <div class="icon-block icon-top wow footLinks" data-wow-delay="0.1s">
        <span><b>CUSTOMER SERVICE</b></span
        ><br />
        <ul class="listClass">
          <li>
            Contact Us
          </li>
          <li>
            Return & Concellation
          </li>
          <li>
            Policy
          </li>
          <li>
            Shipping Policy
          </li>
          <li>
            Terms & Conditions
          </li>
          <li>
            Privacy Policy
          </li>
        </ul>
      </div>
      <!--End of Icon Block-->

      <!--Icon Block-->
      <div class="icon-block icon-top wow footLinks" data-wow-delay="0.1s">
        <span><b>OUR BRANCH</b></span
        ><br />
        <ul class="listClass">
          <li>
            Area 1
          </li>
          <li>
            Area 2
          </li>
        </ul>
        <span>
          <label><b>SIGNUP FOR EMAIL OFFERS & UPDATES</b></label>
          <input
            type="email"
            placeholder="Eamil"
            style="background: #000;border: 1px solid #fff;"
          />
        </span>
      </div>
      <!--End of Icon Block-->

      <!--Icon Block-->
      <div class="icon-block icon-top wow footLinks" data-wow-delay="0.1s">
        <span><b>STAY CONNECTED</b></span
        ><br />
        <a
          href="https://facebook.com"
          data-featherlight="image"
          data-wow-delay="0.1s"
          ><img
            src="assets/images/fb.jpg"
            class="socialClass"
            alt="Landing Page"
        /></a>
        <a
          href="https://twitter.com"
          data-featherlight="image"
          data-wow-delay="0.1s"
          ><img
            src="assets/images/twitter.png"
            alt="Landing Page"
            class="socialClass"
        /></a>
        <a
          href="https://youtube.com"
          data-featherlight="image"
          data-wow-delay="0.1s"
          ><img
            src="assets/images/youtube.png"
            alt="Landing Page"
            class="socialClass"
        /></a>
      </div>
      <!--End of Icon Block-->
      <div class="icon-block icon-top wow footLinks" data-wow-delay="0.1s">
        <span><b>CONTACT INFO</b></span
        ><br />
        <span>123, Street Name, Area Name</span><br />
        <span>Country - 123456</span><br />
        <span>Mobile - 98765 34523</span><br />
        <span>Mail - text@mail.com</span>
      </div>
    </div>
  </div>
</section>
