<section
  id="contact"
  class="scrollto text-center clearfix"
  style="background: #dffbf1;margin-top:20px;"
>
  <h4><b>OUR CUSTOMERS SPEAK FOR US</b></h4>
  <span>-------</span><br />
  <div class="row clearfix">
    <div class="col-3">
      <span><b>&#8220;</b></span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam!
      </p>
      <span style="color: green"><b>TONY BARTLETT</b></span
      ><br />
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
    </div>
    <div class="col-3">
      <span><b>&#8220;</b></span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam!
      </p>
      <span style="color: green"><b>TONY BARTLETT</b></span
      ><br />
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
    </div>
    <div class="col-3">
      <span><b>&#8220;</b></span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam!
      </p>
      <span style="color: green"><b>TONY BARTLETT</b></span
      ><br />
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
    </div>
    <div class="col-3">
      <span><b>&#8220;</b></span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam!
      </p>
      <span style="color: green"><b>TONY BARTLETT</b></span
      ><br />
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
    </div>
  </div>
</section>
