<!--Gallery-->
<aside
  id="cake"
  class="row text-center scrollto clearfix"
  style="background: #dffbf1;margin-top:20px;"
>
  <h4><b>POPULAR CAKES</b></h4>
  <span>-------</span><br />

  <div class="row no-padding-bottom clearfix">
    <div class="col-2" *ngFor="let firstRow of galleryRow1Object">
      <img src="{{ firstRow.image }}" />
      <span>{{ firstRow.name }}</span
      ><br />
      <b
        ><span>&#8377; {{ firstRow.price }} / {{ firstRow.weight }}</span></b
      >
    </div>
  </div>
  <div class="row no-padding-bottom clearfix">
    <!--Content Left Side-->
    <div class="col-2" *ngFor="let secondRow of galleryRow2Object">
      <img src="{{ secondRow.image }}" />
      <span>{{ secondRow.name }}</span
      ><br />
      <b
        ><span>&#8377; {{ secondRow.price }} / {{ secondRow.weight }}</span></b
      >
    </div>
  </div>
</aside>
<!--End of Gallery-->
<div class="scrollto clearfix" style="margin-top:20px;">
  <div class="row no-padding-bottom clearfix imagesDiv">
    <p class="imagesClass">
      <img src="assets/images/gallery-images/gallery1.png" alt="Landing Page" />
      <span><b>Birthday Cakes</b></span>
    </p>

    <p class="imagesClass">
      <img src="assets/images/gallery-images/gallery4.jpg" alt="Landing Page" />
      <span><b>Cartoon Cakes</b></span>
    </p>
    <p class="imagesClass">
      <img src="assets/images/gallery-images/gallery5.jpg" alt="Landing Page" />
      <span><b>Photo Cakes</b></span>
    </p>
    <p class="imagesClass">
      <img src="assets/images/gallery-images/gallery1.png" alt="Landing Page" />
      <span><b>Sweets</b></span>
    </p>
    <p class="imagesClass">
      <img
        src="assets/images/gallery-images/gallery10.jpg"
        alt="Landing Page"
      />
      <span><b>Snacks</b></span>
    </p>

    <p class="imagesClass">
      <img src="assets/images/gallery-images/gallery4.jpg" alt="Landing Page" />
      <span><b>Puff</b></span>
    </p>
  </div>
</div>
<aside
  id="sweet"
  class="scrollto text-center"
  style="background: #dffbf1;margin-top:20px;"
>
  <h4><b>POPULAR SWEETS & SNACKS</b></h4>
  <span>-------</span><br />

  <div class="row no-padding-bottom clearfix">
    <div class="col-2" *ngFor="let firstRow of galleryRow1Object">
      <img src="{{ firstRow.image }}" />
      <span>{{ firstRow.name }}</span
      ><br />
      <b
        ><span>&#8377; {{ firstRow.price }} / {{ firstRow.weight }}</span></b
      >
    </div>
  </div>
  <div class="row no-padding-bottom clearfix">
    <!--Content Left Side-->
    <div class="col-2" *ngFor="let secondRow of galleryRow2Object">
      <img src="{{ secondRow.image }}" />
      <span>{{ secondRow.name }}</span
      ><br />
      <b
        ><span>&#8377; {{ secondRow.price }} / {{ secondRow.weight }}</span></b
      >
    </div>
  </div>
</aside>
<div class="scrollto clearfix" style="margin-top:20px;">
  <div class="row no-padding-bottom clearfix imagesDiv">
    <p class="imagesClass">
      <img src="assets/images/gallery-images/gallery1.png" alt="Landing Page" />
      <span><b>Birthday Cakes</b></span>
    </p>

    <p class="imagesClass">
      <img src="assets/images/gallery-images/gallery4.jpg" alt="Landing Page" />
      <span><b>Cartoon Cakes</b></span>
    </p>
    <p class="imagesClass">
      <img src="assets/images/gallery-images/gallery5.jpg" alt="Landing Page" />
      <span><b>Photo Cakes</b></span>
    </p>
    <p class="imagesClass">
      <img src="assets/images/gallery-images/gallery1.png" alt="Landing Page" />
      <span><b>Sweets</b></span>
    </p>
    <p class="imagesClass">
      <img
        src="assets/images/gallery-images/gallery10.jpg"
        alt="Landing Page"
      />
      <span><b>Snacks</b></span>
    </p>

    <p class="imagesClass">
      <img src="assets/images/gallery-images/gallery4.jpg" alt="Landing Page" />
      <span><b>Puff</b></span>
    </p>
  </div>
</div>
